*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body {
  height: 100%;
  background: var(--black);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1240px) {
  section {
    padding: 20px 15px;
  }
}
