.primary__button {
  padding: 16px 36px;
  background: var(--white);
  border-radius: 100px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--black);
  transition: 0.4s all ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
}

.primary__button:hover {
  border-color: var(--white);
  background: transparent;
  color: var(--white);
}

.primary__button:hover .primary__button_arrow {
  display: block;
}

.primary__button_arrow {
  width: 20px;
  height: 20px;
  display: none;
}

@media (max-width: 500px) {
  .primary__button {
    padding: 14px 32px;
  }
}
